* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: #f0f2f5;
}

.header {
  padding: 5px;
  background: linear-gradient(to right, #050505, #c90003);
  text-align: center;
  color: white;
  height: 13.5vh;
}

.header img {
  margin-top: 15px;
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}

.select {
  padding-top: 20px;
  text-align: center;
}

.select h1 {
  padding-bottom: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select select {
  font-size: 15pt;
  font-family: "Roboto", sans-serif;
  padding: 13px 20px 13px 12px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 15pt;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  animation: flipInX;
  animation-duration: 1s;
}

.info span {
  font-weight: bold;
}

#rotate {
  border-radius: 3em;
  vertical-align: middle;
  margin-left: -1px;
  animation: rotate;
  animation-duration: 3s;
}

#arrow {
  animation: shakeArrow 1s linear infinite;
}

.whatsapp {
  border: 2px solid #cd1330;
  border-radius: 3em;
  padding-right: 10px;
  margin-top: 10px;
}

.whatsapp:hover {
  color: #ffffff;
  background-color: #cd1330;
}

.patient {
  border: 2px solid #1bd741;
  border-radius: 3em;
  padding-right: 10px;
  margin-top: 10px;
}

.patient:hover {
  color: #ffffff;
  background-color: #1bd741;
}

.feedback {
  border: 2px solid #1a73e8;
  border-radius: 3em;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.feedback:hover {
  color: #ffffff;
  background-color: #1a73e8;
}

.attendant {
  border: 2px solid #1a73e8;
  border-radius: 3em;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.attendant:hover {
  color: #ffffff;
  background-color: #1a73e8;
}

.body {
  display: flex;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px;
  text-align: left;
  font-size: 12pt;
  min-width: 700px;
  background-color: #ffffff;
  border-radius: 10px;
  resize: none;
  border: none;
}

#container2 {
  display: none;
}

#container3 {
  display: none;
}

.submit {
  align-items: center;
  border: 5px solid #00a884;
  background-color: transparent;
  padding: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 17pt;
  font-weight: bold;
  border-radius: 100px;
  width: 200px;
  height: 50px;
  color: black;
}

.submit:hover {
  color: #ffffff;
  background-color: #00a884;
}

@keyframes shakeArrow {
  0% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
  25% {
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
  }
  50% {
    -webkit-transform: translate3d(0, 3px, 0);
    transform: translate3d(0, 3px, 0);
  }
  75% {
    -webkit-transform: translate3d(0);
    transform: translate3d(0);
  }
  100% {
    -webkit-transform: translate3d(0, -3px, 0);
    transform: translate3d(0, -3px, 0);
  }
}

@keyframes rotate {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes end {
  from {
    height: 13.5vh;
  }
  to {
    height: 100vh;
  }
}

@keyframes end2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
