* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background-color: #f0f2f5;
}

.header {
  padding: 5px;
  background: linear-gradient(to right, #050505, #c90003);
  text-align: center;
  color: white;
  height: 13.5vh;
}

.header h1 {
  position: relative;
  top: 50%;
  transform: translateY(-80%);
}

.select {
  padding-top: 20px;
  text-align: center;
}

.select h1 {
  padding-bottom: 20px;
}

.select select {
  font-size: 15pt;
  font-family: "Roboto", sans-serif;
  padding: 13px 20px 13px 12px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.info {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 15pt;

  animation: fadeInLeft;
  animation-duration: 2s;
}

.info img {
  border-radius: 3em;
  vertical-align: middle;
}

.whatsapp {
  border: 2px solid #cd1330;
  border-radius: 3em;
  padding-right: 10px;
}

.patient {
  border: 2px solid #1bd741;
  border-radius: 3em;
  padding-right: 10px;
}

.body {
  font-weight: bold;
  font-size: 15pt;
  justify-content: center;
  text-align: center;
  display: flex;
  margin: 0 auto;
  margin-bottom: 20px;
  border-bottom: 1px solid black;
  max-width: 700px;
}

#message {
  border-radius: 10px;
  font-size: 12pt;
  background-color: #ffffff;
  text-align: left;
  padding: 15px;
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 700px;
}

#message:empty:before {
  content: attr(data-placeholder);
  color: gray;
}

#container2 {
  display: none;
}

#container3 {
  display: none;
}

.submit {
  align-items: center;
  padding: 5px;
  display: block;
  margin: 0 auto;
  font-size: 20pt;
  border-radius: 100px;
  width: 200px;
  height: 60px;
  color: white;
  background-color: #128c7e;
}

@keyframes end {
  from {
    height: 13.5vh;
  }
  to {
    height: 100vh;
  }
}

@keyframes end2 {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
